<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangfuhai.asimplecachedemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yangfuhai.asimplecachedemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yangfuhai.asimplecachedemo.AboutActivity" />
        <activity android:name="com.yangfuhai.asimplecachedemo.SaveBitmapActivity" />
        <activity android:name="com.yangfuhai.asimplecachedemo.SaveJsonObjectActivity" />
        <activity android:name="com.yangfuhai.asimplecachedemo.SaveObjectActivity" />
        <activity android:name="com.yangfuhai.asimplecachedemo.SaveStringActivity" />
        <activity android:name="com.yangfuhai.asimplecachedemo.SaveMediaActivity" />
        <activity
            android:name="com.yangfuhai.asimplecachedemo.SaveDrawableActivity"
            android:label="@string/title_activity_save_drawable" >
        </activity>
        <activity
            android:name="com.yangfuhai.asimplecachedemo.SaveJsonArrayActivity"
            android:label="@string/title_activity_save_json_array" >
        </activity>
    </application>

</manifest>